@using global::System
@using global::System.Runtime.CompilerServices
@using global::System.Threading.Tasks
@using Sandbox;
@using Sandbox.SQ.System.Login
@using Sandbox.UI;
@inherits PanelComponent

@namespace Sandbox.SQ.UI.Character

<root>
	<div class="character-creator">
		<div class="character-info">
			<TextEntry class="character-name" Value:bind=@Name>Name:</TextEntry>
		</div>
		<div class="character-preview">
			<Button onclick=@SubmitButtonOnClick>Submit</Button>
		</div>
	</div>
</root>

@code {
	public CharacterInfo Character { get; set; } = new();

	public delegate void DoSubmit ( CharacterInfo info );

	public event DoSubmit? Submit;

	private Panel CharacterInfoPanel;

	public string Name {
		get => Character.Name;
		set {
			Character.Name = value;
		}
	}

	private void SubmitButtonOnClick ( ) {
		Submit?.Invoke( Character );
	}

	protected override int BuildHash ( ) {
		return HashCode.Combine( Character );
	}
}
