CharacterCreate {
  pointer-events: all;

  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  
  .character-creator {
    gap: 1px;
    width: 25%;
    height: 50%;
    background-color: #2a2a2a2f;
  }
  
  .character-info {
    width: 400px;
    padding-left: 10px;
    flex-direction: column;
    gap: 1px;
  }
  
  .character-name {
    background-color: #2a2a2aF0;
    color: #fff;
    padding: 10px;
    height: 50px;
  }
  
  .character-preview {
    button {
      align-items: center;
      height: 50px;
      color: #fff;
      background-color: #2a2a2aF0;
    }
  }
}