@using global::System
@using global::System.Runtime.CompilerServices
@using global::System.Threading.Tasks
@using Sandbox;
@using Sandbox.SQ.System.Login
@using Sandbox.UI;
@inherits PanelComponent

@namespace Sandbox.SQ.UI.Character

<root>
	<div class="character-select">
		<div class="character-list">
			@foreach ( var character in Characters ) {
				if ( character is not null ) {
					<button class="character-selection" onclick=@( ( ) => { Selected?.Invoke( character ); } )>
						@character.Name
					</button>
				}
			}
			<button class="new-character" onclick=@SwapToCharacterCreator>Create A Character</button>
		</div>
		<div class="selected-character">

		</div>
	</div>

</root>

@code {
	public CharacterInfo [ ] Characters             { get; set; }

	public void SwapToCharacterCreator ( ) {
		this.Enabled = false;
		CharacterCreationSystem.Client.OpenUI();
	}

	public delegate void DoSelect ( CharacterInfo info );

	public event DoSelect Selected;

	protected override int BuildHash ( ) {
		return HashCode.Combine( Characters );
	}
}
