@using global::System
@using global::System.Runtime.CompilerServices
@using global::System.Threading.Tasks
@using Sandbox;
@using Sandbox.SQ.System.Login
@using Sandbox.UI;
@inherits PanelComponent

@namespace Sandbox.SQ.UI.Character

<root>
	<div class="background">
		<div class="character-select">
			<button class="character-selection" onclick=@(
			( ) => {
				CharacterButtonOnClick();
			}
			)>
				Exoa Ilter
			</button>
		</div>
		<div class="selected-character">

		</div>
	</div>
</root>

@code {
	public CharacterInfo [ ] Characters { get; set; }

	private TaskCompletionSource< CharacterInfo > _tcs = new();

	private void CharacterButtonOnClick ( ) {
		if ( !_tcs.Task.IsCompleted )
			_tcs.SetResult(
				new CharacterInfo() {
					Name = "Exoa Ilter"
				}
			);
	}

	protected override int BuildHash ( ) {
		return HashCode.Combine( Characters );
	}

	public static Task< CharacterInfo > CreateCharacter () {
		Log.Info( "Spawning Character Select UI" );
		var tcs = new TaskCompletionSource< CharacterInfo >();

		Sandbox.SkillQuest.SH.CreateOnMainThread( SkillQuest.CL.UI.GameObject, name: "Character Creator" ).ContinueWith(
			t => {
				var cs = t.Result.AddComponent< CharacterCreate >();
				cs._tcs.Task.ContinueWith( tt => { tcs.SetResult( tt.Result ); } );
			}
		);

		return tcs.Task;
	}

	protected override void OnDestroy ( ) {
		if ( !_tcs.Task.IsCompleted ) _tcs.SetResult( null );
		base.OnDestroy();
	}

}
